header {
    background-image: linear-gradient(to right, rgb(15, 76, 117), rgb(106, 33, 179));
    color: white;
}

h1 {
    width: fit-content;
}

button {
    width: 100%;
    margin: 2px;
}

input {
    width: 100%;
}

#searchBtn {
    margin-bottom: 10px;
}

img {
    width: fit-content;
}